@import '../css/button.less';

.g-container {
  height: 100%;
  box-sizing: border-box;
  padding: 0 15px;
  padding-bottom: 40px;    
  overflow: auto;
  display: flex;
  flex-direction: column;
  .js-chat{
    flex: 1;
    overflow: scroll;
  }
  .form-inline{
    background: #fff;
    width: 100%;
    position: fixed;
    bottom: 0.1rem;
    left: 0;
  }
}
.line {
  line-height: 24px;
  border-bottom: 1px solid #dbdbdb;
}
.line-1 {
  line-height: 50px;
}
.line-2 {
  padding: 10px 0;
  line-height: 30px;
}
.line-3 {
  padding: 13px 0;
  > div > div {
    width: 50%;
  }
}
.intro {
  word-break: break-all;
}
.line-4 {
  padding: 20px 15px;
  .tip {
    font-size: 14px;
    margin-bottom: 12px;
  }
}
.fn-mb10{
  margin-bottom: 10px;
}
.p-buy,.p-sell{
  flex: 1;
}
.p-sell{
  text-align: right
}
.form-control {
  border: 0;
  border-top: 1px solid rgba(0, 0, 0, 0.15);
  &:focus {
    border-color: rgba(222, 48, 29, 0.5);
  }
}