.g-container {
  padding: 0 12px;
}
.line {
  line-height: 24px;
  border-bottom: 1px solid #dbdbdb;
}
.line-1 {
  line-height: 50px;
}
.line-2 {
  padding: 10px 0;
  line-height: 30px;
}
.line-3 {
  padding: 13px 0;
}
.intro {
  word-break: break-all;
}