@import '../css/color.less';
@import '../css/button.less';
html {
  min-height: 100%;
  background-color: @base;
}
.g-container {
  max-width: 414px;
  margin: 0 auto;
  padding-top: 44px;
  background-color: @base;
}
.tab {
  position: fixed;
  top: 0; left:50%; 
  width: 100%;
  transform: translateX(-50%);
  padding: 15px 0 10px;
  text-align: center;
  .inner {
    display: flex;
    margin: 0 auto;
    width: 200px;
    height: 40px;
    font-size: 15px;
    color: @primary;
    background-color: @base;
  }
  // .item:first-of-type {
  //   border-radius: 6px 0 0 6px;
  // }
  // .item:last-of-type {
  //   border-radius: 0 6px 6px 0;
  // }
  .item {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 50%;
    border: 1px solid @primary;
  }
  .item.active {
    background-color: @primary;
    color: @base;
  }
}

.list {
  padding: 0 12px;
  .item {
    padding: 16px 0;
    border-top: 1px solid #dbdbdb;
    * {
      pointer-events: none;
    }
  }
  .line-1 {
    font-size: 19px;
    line-height: 20px;
    margin: 3px 0;
    i {
      font-size: 13px;
      font-style: normal;
    }
    .name {
      display: flex;
      align-items: center;
      font-weight: bold;
    }
    .badge {
      margin-left: 5px;
      font-size: 12px;
    }
  }
  .line-2 {
    font-size: 13px;
    line-height: 20px;
    margin: 3px 0;
  }
  .line-3 {
    font-size: 13px;
    line-height: 20px;
    margin: 3px 0;    
  }
}