.sellcoinlist-wrapper,.buycoinlist-wrapper{	
	font-size: 0.28rem;
	padding: 0.3rem;   
	.user-info{
	 	border-bottom: 0.01rem solid #EFEFEF;  
	 	&:last-child{
	 		border: none;
	 	}
	} 
	.scroll-img{
		height: 2.6rem;		
	}	
	.more{
		text-align: center;
		a{
			display: inline-block;
			width: 3rem;
			height: 0.8rem;
			background: #007bff;
			color: #fff;
			line-height: 0.8rem;
		}
	}
}