	.price-module-wrapper{
	padding: 10px 0;
	input{
		width: 80px;
		border: none;
		outline: none;
		margin-top: -3px;
	}
	>div{
		display: flex;
		&.error{
			color: red;
			>div{
				border-bottom: 1px solid red;
			}	
			input{
				color: red;
			}
		}		
		>div{
			flex:1;
			font-weight: bold;			
			font-size: 0.28rem;
			padding: 0.1rem 0 ;
			border-bottom: 1px solid #e3e3e3;
			display: flex;
			input{
				flex: 1;
				padding: 0.05rem 0.1rem;
			}
		}
	}	
	
	span{
		margin: 5px 15px;
	}
}