@import '../css/color.less';
@import '../css/button.less';
html {
  background-color: @base;
}
.g-container {
  max-width: 414px;
  margin: 0 auto;
  padding-top: 65px;
  background-color: @base;
}
.tab {
  position: fixed;
  top: 0; left:50%; 
  width: 100%;
  transform: translateX(-50%);
  padding: 15px 0 10px;
  text-align: center;
  .inner {
    display: flex;
    margin: 0 auto;
    width: 200px;
    height: 40px;
    color: @primary;
    background-color: @base;
  }
  // .item:first-of-type {
  //   border-radius: 6px 0 0 6px;
  // }
  // .item:last-of-type {
  //   border-radius: 0 6px 6px 0;
  // }
  .item {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 50%;
    font-size: 15px;
    border: 1px solid @primary;
  }
  .item.active {
    background-color: @primary;
    color: @base;
  }
}
.list {
  padding: 0 18px;
  > div {
    padding: 16px 0;
    color: rgb(112, 118, 130);
    border-top: 1px solid #EFEFEF;
    &:last-of-type {
      border-bottom: 0;
    }
    * {
      pointer-events: none;
    }
  }
  .line-1 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 12px;
    font-size: 19px;
    color: #333;
    .name {
      display: flex;
      font-weight: bold;
      align-items: center;
      .badge {
        margin-left: 5px;
        font-size: 12px;
        font-weight: normal;
      }
    }
  }
  .line-2 {
    display: flex;
    font-size: 13px;
    justify-content: space-between;
  }
}
.more {
  display: none;
  margin: 20px auto;
  width: 80%;
}
